Source: dracut-aufs
Section: utils
Priority: optional
Maintainer: Jon Ander Hernández <jonan.h@gmail.com>
Build-Depends: debhelper (>= 7.0)
Standards-Version: 3.9.1
Vcs-Browser: https://github.com/jonanh/KestrelHPC/tree/master/dracut

Package: dracut-aufs
Architecture: all
Depends: dracut-network, ${misc:Depends}
Description: Dracut aufs module
 Provides a dracut module for running the system in "live" mode.

